@import "tailwindcss";

body {
  background-image: url('/bg-nature.jpg');
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat;
  min-height: 100vh;           
  margin: 0;                  
}

::-webkit-scrollbar {
  width: 5px; /* scrollbar width */
  background: none;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: rgb(97, 32, 202);
  border-radius: 10px;
  width:10px
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(129, 60, 241); 
}

